*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f2f1ef;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
aside {
    float: left;
    background-color: #e2ae6c;
    padding: 1rem;
    height: 100%;
}
.name {
    text-align: center;
}
.photo {
    width: 15rem;
    height: auto;
}
h3 {
    color: #6e304b;
}
a {
    color: #a37c82;
}
section {
    margin: 5rem 20rem;
}
.introduct {
    margin-top: 3rem;
}
footer {
    z-index : 99;
    color: #b69161da;
    opacity: 85%;
}

.footer-div{
    max-width: 1024px;
    display:flex;
    align-content: space-between;
}
.rs-logo {
    height: 20px;
    background-color: azure;
}
i {
    color: black;
}